In [13]:
import pandas
from sklearn import linear_model

In [55]:
df = pandas.read_csv("data.csv")
df

,Date,Time,Initial,Bolus,Restaurant,Food,Result
0,16-01-23,7:00,7.3,8,McDonnald,Toast menu 1 toast,10.63
1,16-01-23,14:00,8.2,8,U Holise,Katuv sleh,9.31
2,16-01-23,18:00,8.9,10,CaPhe,Bun Bo Nam Bo,10.57
3,17-01-23,6:30,6.8,8,Doma,Bebe Dobre rano,6.80
4,17-01-23,12:00,7.1,10,Ctyrka,"Hovezi burger, hranolky",8.43
...,...,...,...,...,...,...,...
88,14-02-23,14:00,7.7,10,CaPhe,Bun Bo Nam Bo,9.37
89,14-02-23,19:30,7.6,8,Adria,"Kureci stehna, zeli, brambory",8.71
90,14-02-23,6:30,6.8,8,Doma,Bebe Dobre rano,6.80
91,14-02-23,12:30,7.2,8,Pizza Hut,2 ks syrova pizza,12.20
92,14-02-23,18:30,7.9,8,Potraviny,"Syr, salam, pecivo",7.90

In [60]:


X = df[['Initial', 'Result']]
y = df['Bolus']

regr = linear_model.LinearRegression()
regr.fit(X, y)

#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3:
predictedCO2 = regr.predict([[10, 8]])

print(predictedCO2)

[8.81152308]

/Users/lukasvecerka/opt/anaconda3/envs/bsec/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(